{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scalable=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>首页 - 园子 - 博客园</title>
    <link href="//common.cnblogs.com/favicon.ico" rel="shortcut icon" />

   <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" media="all">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <link rel="stylesheet" href="{% static 'js/jquery-2.1.4.min.js' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'js/bootstrap.js' %}" type="text/css" media="all">


</head>
<body>
<nav class="navbar navbar-default" role="navigation" style="background-color: #0f0f0f">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">yo博客园</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li> <a class="navbar-brand" href="#"></a></li>
            <li><a href="//www.cnblogs.com">首页</a></li>
            <li> <a href="//news.cnblogs.com/">新闻</a></li>
            <li><a href="//job.cnblogs.com/">招聘</a></li>
            <li><a href="//zzk.cnblogs.com/">找找看</a></li>
            <li> <a href="//kb.cnblogs.com/">知识库</a></li>
            <li> <a href="//kb.cnblogs.com/">申请开通博客</a></li>
           <li> <a href="#">注册</a></li>
            <li><a href="#">登陆</a></li>

        </ul>
    </div>
    </div>
</nav>



</body>
</html>